<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.taofeng.squid-climb.autopublish</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/tao/Library/CloudStorage/Dropbox/Facebook/meta_second_brain/00_inbox/incubator/2026_06_03_squid_climber_game/scripts/auto_publish.sh</string>
  </array>
  <key>StartInterval</key>
  <integer>1800</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/tao/Library/CloudStorage/Dropbox/Facebook/meta_second_brain/00_inbox/incubator/2026_06_03_squid_climber_game/.publish_state/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/tao/Library/CloudStorage/Dropbox/Facebook/meta_second_brain/00_inbox/incubator/2026_06_03_squid_climber_game/.publish_state/launchd.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
</dict>
</plist>
